<span style="margin-left:100px;font-style:oblique; color: blueviolet;">task1</span><br><br>
<div><p>You are so successfull</p></div>

<br>
<br>
<app-first>

</app-first>


<br><br>
<br>
 <span style="margin-left:100px;font-style:oblique ;color: blueviolet;">task2</span><br><br>
<button class="btn" (click)="onClick()">Add Server</button>   
<br><br>
<p class="text">{{text}}</p>
<br>
<br>
<br>
<span style="margin-left:100px;font-style:oblique ;color: blueviolet;">task3</span><br><br>

<app-third>
    
</app-third>